.App {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(0,36,34);
  background: linear-gradient(90deg, rgba(0,36,34,1) 0%, rgba(9,109,121,0.6336659663865547) 0%, rgba(0,212,255,1) 100%);
}

.EditButton{
  font-size: 1.5vw;
  margin-top: 1vw;
  margin-left: 1vw;
  margin-right: 0.5vw;
  background-color:blue;
  color: white;
}

.RemoveButton{
  font-size: 1.5vw;
  margin-right: 0.5vw;
  margin-top: 1vw;
  background-color:blue;
  color: white;
}

.CompleteButton{
  font-size: 1.5vw;
  margin-top: 1vw;
  background-color:blue;
  color: white;
}

.AddItemInput{
  width: 20vw;
}
